<div class="mx-auto grid max-w-7xl grid-cols-4 gap-x-4 px-6 py-10 lg:px-8 xl:gap-x-8">

    {% for service in services %}
      <div class="group relative rounded-lg p-6 text-sm/6 hover:bg-gray-50 dark:hover:bg-white/5">
        <a href="{%  url "services_detail" service.slug %}" class="mt-6 block font-semibold text-gray-900 dark:text-white">
            {{ service.title }}
          <span class="absolute inset-0"></span>
        </a>
        <p class="mt-1 text-gray-600 dark:text-gray-400">{{ service.subtitle }}</p>
      </div>
        {% endfor %}
      
    </div>